/* Register.css */

/* Container styles */
.register-container {
  display: flex;
  flex-direction: column; /* Change to column */
  justify-content: flex-start; /* Align content at the top */
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5; /* Facebook background color */
}

/* Form styles */
.register-form {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 300px; /* Adjust the width as needed */
  margin-top: 20px; /* Add margin to push it down */
}

/* Heading styles */
h2 {
  color: #000000; /* Facebook blue color */
}

/* Input styles */
.form-group {
  margin: 15px 0;
  text-align: left;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #1877f2;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #145da0;
}

/* Link styles */
.link-to-login {
  text-align: center;
  margin-top: 10px;
}

.link-to-login a {
  text-decoration: none;
  color: #1877f2; /* Facebook blue color */
  font-weight: bold;
}

.link-to-login a:hover {
  text-decoration: underline;
}

.register-box {
  border: 1px solid #ccc; /* Add a border */
  padding: 20px; /* Add some padding */
  border-radius: 5px; /* Add rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a box shadow for depth */
}
